doctype html
html
  head
    title= Project_backend_201620904
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul(class="menu")
      li
        a(href="/") Home
      li
        a(href="/newsneaker") NewSneaker
        li
          a(href="/admin") Admin

    block content

    script(src='/javascripts/main.js')